[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
lxml = "*"
requests = "*"
cssselect = "*"
unidecode = "*"

[requires]
python_version = "3.7"
